body
{
  margin: 0; 
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  background-attachment: fixed;
 
  justify-content: center;
  align-items: center;
}
.body_2
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.body_3
{
  margin-left: 600px;
  
  
}
.body-inicio
{
  padding: 10px; 
  padding-bottom: 30px; 
  padding-top: 30px;
  margin-left: 3%; 
  margin-right: 2%;
  border-radius: 20px;
  box-shadow: 0 0 8px #00000047;
  background-color: white;
  align-items: center;

}
.body-inicio-adicional
{
  padding: 0px; 
  padding-bottom: 30px; 
  padding-top: 20px;
  margin-top: 2%;
  margin-left: 3%; 
  margin-right: 2%;
  border-radius: 20px;
  box-shadow: 0 0 8px #00000047;
  background-color: white;
}
.estilo
{
  align-content: center;
  justify-content: center;
}
body:before
{
    content: "";
    width: 105%;
    min-height: 130vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(45deg,#52c4df, #ad55c1);
    opacity: .6;
    z-index: -1;
}
.cotizar
{
  align-items: center;
  border-radius: 10px;
  color: aliceblue;   
  margin-top: 5px; 
  width: 200px;
  margin-left: 30px;
}
.imagen
{
  height: 80px;
  width: 90px;
  margin: 25px;
  margin-left: 106px;

}
.imagen_2
{
  height: 60px;
  width: 70px;
  margin-left: 510px;
  margin-top: 20px;
  
}
td
{
  padding: 0em;
  margin: 0em;
}
.principal
{
  justify-content: center;
  font-size:11px; 
  padding: auto;
}

#btn1
{
  font-size:11px;
   
}
#btn2
{
  font-size:12px;
  margin-left: 60px; 
  height: 30PX;
  margin-right: 0%;
  
}
#btn3
{
  font-size:12px;
  margin-top: 0px; 
  width: 110px;
  height: 30px; 
}
h1
{
  margin: 5px;
  
}
.titulo
{
  text-align: center;  
}
.titulo_dir
{
  text-align: center;
  padding-top: 40px;
}
.instruccion
{
  padding-left: px;
  text-align: center;
}
.espacio{
  padding: 7px;
}
.encabezado
{
  align-items: center;
  width: 20000px; 
  padding: 0;
}
.imgHistorial
{
  height: 60px;
  width: 60px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 6px;
 
}
.imgh
{
  margin-bottom: 80px;
  margin-left: 5px;
}
.guia
{
  padding-bottom: 15px;     
  margin-left: 220px;
  width: 300px;
  font-size: 15px;
  align-items: center;
}
.busqueda
{
  height: 30px;
  width: 270px;
  font-size: 12px;
}

.text
{
  padding-left: 50px;
  padding-right: 10px;
}
.inicio
{
  padding-left: 1px;
  margin-left: 10px;
}

@media screen and (max-width:980px)
{
  body
  {
  margin: 0; 
  min-height: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  background-attachment: fixed;
 
  justify-content: center;
  align-items: center;
  }
}

